
.container {
  text-align: center;
  background-color: white;
  /* display: flex; */
}

#map-container {
  height: 45em;
}

#map {
  display: inline-block;
  font-size: 25pt;
  /* width: 10em;
  height: 10em; */
  background-color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  transform: scale(1, .5);
  /* padding: 1em; */
  /* border: 1px solid black; */
  position: relative;
  bottom: 10em;
   }

.entry-floor {
  background-color: lightblue;
}

.entry-wall {
  background-color: black;
  /* box-shadow: inset 0 0 0 3px black; */
}

.unexplored {
  color: grey;
  background-color: grey;
}

.visible {
  color: rgb(58, 57, 57);
  background-color: grey;
}